<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  < <h1>
    Welcome to {{title}}!!
    </h1>

</div>
<div>
  <h1 class="worldmap"> MAPA </h1>

  <table id =t_mapa; style="position: relative">
    <td>
      <div style="visibility: hidden" class="fila_impar">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div style="visibility: hidden" class="hexagon">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div id=h_#-4#0; class="fila_impar">
        <div class="pradera">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div style="visibility: hidden" class="hexagon">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div style="visibility: hidden" class="fila_impar">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
    </td>
    <td style="margin-left: 80px; position: relative; left: -55px">
      <div id=h_#-2#2; class="fila_impar">
        <div class="mountain">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div id=h_#-3#1; class="forest">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div id=h_#-2#0; class="fila_impar">
        <div class="forest">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div id=h_#-3#-1; class="pradera">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div id=h_#-2#-2; class="fila_impar">
        <div class="grass">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
    </td>
    <td style="margin-left: 80px; position: relative; left: -110px">
      <div id=h_#0#2; class="fila_impar">
        <div class="mountain">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div id=h_#-1#1; class="grass">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div id=h_#0#0; class="fila_impar">
        <div class="city">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div id=h_#-1#-1; class="pradera">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div id=h_#-0#-2; class="fila_impar">
        <div class="mountain">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
    </td>
    <td style="margin-left: 80px; position: relative; left: -165px">
      <div class="fila_impar">
        <div class="mountain">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div class="grass">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div class="fila_impar">
        <div class="grass">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div class="forest">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div class="fila_impar">
        <div class="mountain">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
    </td>
    <td style="margin-left: 80px; position: relative; left: -220px">
      <div style="visibility: hidden" class="fila_impar">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div class="forest">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div class="fila_impar">
        <div class="mountain">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div class="grass">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
      <div style="visibility: hidden" class="fila_impar">
        <div class="hexagon">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
    </td>
  </table>
  <div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
</div>
<h2>Here are some links to help you start: </h2>